<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">


        <!-- Bootstrap CSS -->
        
    	<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.css">    	
    </head>


     
     <body>

<div class="container">         
	<h1 class="title">{{ site.name }}</h1>


<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      
    </button>
    <a class="navbar-brand" href="http://localhost:4000">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    
      <li><a href="/archive">Archive</a></li>
    
      <li><a href="/oer">OER's</a></li>
      <li><a href="/mooc">Mooc's</a></li>
      <li><a href="/cuv">CV</a></li>
        
        <li><a href="https://github.com/p00gz">Github</a></li>
        <li><a href="https://twitter.com/p00gz">Follow @p00gz</a></li>
    </ul>
  
   
  </div><!-- /.navbar-collapse -->
</nav>
