<h3>About Me</h3>

<p>Information Technology & Digital Media at a Chicago area library</p>
<p>Veteran library professional transitioning into an information security concentration. 
Focusing on Network Security, Malware Analysis, Digital Forensics, 
Linux Shellcode & Cyber Law.</p> 

<p>100% self taught, self study. Advocate of MOOC's, OER's and open education.</p>

<!--<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->
<h3>Blog roll</h3>
<a href="https://www.corelan.be/">Corelan Team</a><br>
<a href="http://www.darknet.org.uk/">The Darknet</a><br>
<a href="http://www.deependresearch.org/">DeepEnd Research</a><br>
<a href="http://blog.dynamoo.com/">Dynamoo's Blog</a><br>
<a href="http://blog.erratasec.com/">Errata Security</a><br>
<a href="http://blog.cryptographyengineering.com/">A Few Thoughts On Cryptographic Engineering</a><br>
<a href="http://forensicmethods.com/">Forensic Methods</a><br>
<a href="http://grugq.github.io/">Hacker OPSEC</a><br>
<a href="http://grugq.tumblr.com/">Hacker Tradecraft</a><br>
<a href="http://www.irongeek.com/">Irongeek</a><br>
<a href="http://krebsonsecurity.com/">Krebs on Security</a><br>
<a href="http://malwaremustdie.blogspot.com/">Malware Must Die</a><br>
<a href="http://packetstormsecurity.com/">Packet Storm</a><br>
<a href="http://www.scmagazine.com/">SC Magazine</a><br>
<a href="https://www.schneier.com/">Schneier on Security</a><br>
<a href="http://www.securitytube.net/">SecurityTube</a><br>
<a href="http://threatpost.com/">Threatpost</a><br>
<a href="http://uscyberlabs.com/blog/">USCyberLabs</a><br>