<h3>About Me</h3>

<p>Information Technology & Digital Media at a Chicago area library.</p>
<p>Veteran library professional transitioning into an information security concentration.</p>
<p>Focus in vulnerability research, malware & botnet analysis, digital forensics & cyber law.</p>

<p>Advocate of MOOC's, OER's and open education.</p>

<h3>Blog roll</h3>
<a href="http://www.darknet.org.uk/">The Darknet</a><br>
<a href="http://blog.dynamoo.com/">Dynamoo's Blog</a><br>
<a href="http://blog.erratasec.com/">Errata Security</a><br>
<a href="http://blog.cryptographyengineering.com/">A Few Thoughts On Cryptographic Engineering</a><br>
<a href="http://www.forensicfocus.com/">Forensic Focus</a><br>
<a href="http://grugq.github.io/">Hacker OPSEC</a><br>
<a href="http://grugq.tumblr.com/">Hacker Tradecraft</a><br>
<a href="http://resources.infosecinstitute.com/">InfoSec Institute</a><br>
<a href="http://www.irongeek.com/">Irongeek</a><br>
<a href="http://krebsonsecurity.com/">Krebs on Security</a><br>
<a href="http://malwaremustdie.blogspot.com/">Malware Must Die</a><br>
<a href="http://packetstormsecurity.com/">Packet Storm</a><br>
<a href="http://www.scmagazine.com/">SC Magazine</a><br>
<a href="https://www.schneier.com/">Schneier on Security</a><br>
<a href="http://www.securitytube.net/">SecurityTube</a><br>
<a href="http://threatpost.com/">Threatpost</a><br>
<a href="http://uscyberlabs.com/blog/">USCyberLabs</a><br>
